@import url("./reset.scss");
@import url("./theme/dark.scss");
@import url("./theme/light.scss");
@import url("./variables/global.scss");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
.app {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--primary-color);
  font: var(--font-m);
}

.page-wrapper {
  display: flex;
}

.page-content {
  padding: 20px;
  flex-grow: 1;
}
