.Button {
  cursor: pointer;
  color: var(--primary-color);
  transition: all var(--hover-animation-delay) linear;

}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: #ffffff00;
}

.outline:hover{
  background: #051dfa23;
  border: 1px solid var(--primary-light-color);
  color: var(--primary-light-color);
}



.primary {
  color: var(--bg-color);
  border: unset;
  background: var(--inverted-bg-color);
}
.outlineInverted {
  padding: 10px 15px;
  border: 1px solid var(--inverted-primary-color);
  color: var(--inverted-primary-color);
  background: none;
}

.outlineInverted:hover{
  background: #77885c23;
  border: 1px solid var(--inverted-primary-light-color);
  color: var(--inverted-primary-light-color);
}

.disabled {
  opacity: 0.5;
}

.warning {
  padding: 10px 15px;
  border: 1px solid var(--warning-color);
  color: var(--warning-color);
  background: #ffffff00;
}

