.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
}

.wrapperLoading {
    opacity: 0.5;
}

.authBtn{
    margin-left: auto;
    margin-top: 10px;
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

