.app.light {
  --bg-color: #b1b1b1;
  --primary-color: #0918df;
  --secondary-color: #050e8b;

  --inverted-bg-color: #1d0f59;
  --inverted-primary-color: #0eda1c;
  --inverted-secondary-color: #08a012;
}
