.app_dark_theme {
  --bg-color: #10106a;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #04ff04;
  --primary-light-color: #69ff82;
  --secondary-color: #049604;
  --inverted-primary-color: #0449e0;
  --inverted-primary-light-color: #3600fa;
  --inverted-secondary-color: #0232c2;
}
