:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #10106a;
  --primary-color: #0449e0;
  --primary-light-color: #3600fa;
  --secondary-color: #0232c2;
  --inverted-primary-color: #04ff04;
  --inverted-primary-light-color: #69ff82;
  --inverted-secondary-color: #049604;
  --login-bg-color: #433c85e0;
  --warning-color: #db1f1f;
}
