.app_purple_theme {
    --bg-color: #463875;
    --inverted-bg-color: #f0edf7;
    --primary-color: #F6F4FB;
    --inverted-primary-color: #463875;
    --secondary-color: #2B3B5A;

    --primary-light-color: #F6F4FB;
    --inverted-primary-light-color: #463875;
    --inverted-secondary-color: #F6F4FB;
  }
  