.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 60px;
    border-radius: 25px;
    background-color: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
}

