.wrapper{
    width: 100%;
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);

}

.header{
    display: flex;
}

.editBtn{
    margin-left: auto;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}